:root {
    --yellow: #F9F62A;
    /* Playful, key accent */
    --teal: #75B9BE;
    /* Background or section dividers */
    --light-teal: #A8CCC9;
    /* Softer background sections */
    --blue: #4C6085;
    /* Navigation bar and headings */
    --neutral-gray: #4F4F4F;
    /* Text and footer backgrounds */
    --orange-web: #FCAB1F;
    /* Subtle accent for warmth */
    --white: #FFFFFF;
    /* Clean white for text contrast */
}



* {
    /* border: black solid 1px; */
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-teal);
    line-height: 1.5;   
}



header {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    padding: 20px 30px
}

.logo-container {

    text-align: left;
}

.navbar-container {
    display: flex;
    /* justify-content: center; */
    gap: 30px;

}

.navbar-container div {
    cursor: pointer;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;

}

.navbar-container div:hover {
    color: var(--yellow);
}

.hero {
    position: relative;
    text-align: center;
}
