:root {
    --yellow: #F9F62A;
    /* Playful, key accent */
    --teal: #75B9BE;
    /* Background or section dividers */
    --light-teal: #A8CCC9;
    /* Softer background sections */
    --blue: #4C6085;
    /* Navigation bar and headings */
    --neutral-gray: #4F4F4F;
    /* Text and footer backgrounds */
    --orange-web: #FCAB1F;
    /* Subtle accent for warmth */
    --white: #FFFFFF;
    /* Clean white for text contrast */
}


* {
    /* border: black solid 1px; */
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-teal);
    line-height: 1.5;   
}



header {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    padding: 20px 30px
}

.logo-container {

    text-align: left;
}

.navbar-container {
    display: flex;
    /* justify-content: center; */
    gap: 30px;

}

.navbar-container > * {
    cursor: pointer;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;

}

.navbar-container > *:hover {
    color: var(--yellow);
}

.hero {
    position: relative;
    text-align: center;
}

.hero-vid-container {
    height: 300px;
    background-color: #fafa6bbf;
    /* position: relative; */
    overflow: hidden;
}

.hero-vid-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

.hero-text-bg {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 15px;
    border-radius: 16px;
    z-index: 2;

}

.hero-title h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 4.5rem;
    color: var(--yellow);
    text-shadow: 2px 2px var(--blue);
    white-space: nowrap;
}

.hero-subtitle {
    font-family: cursive;
    font-size: 1rem;
    color: var(--neutral-gray)
}

main {
    padding: 30px 15px;
}

.grid-container {
    height: 60vh;
    border: dotted cornflowerblue 3px;
    display: flex;
    align-items: center;
    /* grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
      grid-template-areas: 
      ". . . . . . ."
       "text text text menu-icon.menu-icon imgicon2 icon3 ."
       "text text text menu-icon.menu-icon imgicon2 icon3 ."
       ". . . . . . ."
        ;
        column-gap: 30px;
        align-items: center; */
}

.text-container-bg {
    position: relative;
    transform: translate(-105px, 10px);
    width: 230%;
    height: auto;
    scale: 100%
}

.text-container-sub {
    position: absolute;
    
}


.main-text-container {
    position: relative;
    transform: translateX(60px);
    height: 50%;
    /* width: 50%; */
    max-width: 320px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    justify-content: center;
}

.main-text1 h2 {
    font-family: cursive;
    font-size: 2rem;
    color: var(--blue);
    position: relative;
    transform: translate(20px, 0px);
}

.main-text2 {
    font-family: "Quicksand", cursive;
    color: var(--neutral-gray);
    font-weight: 600;
    position: relative;
    transform: translate(30px, -10px);
}
.icon-link-text {
    text-decoration: none;
}

.menu-icon-main-container {
    text-align: center;

    /* display: flex;
    flex-direction: column; */
    font-family: 'Quicksand', cursive;
    font-weight: 600;
    font-size: 1.5rem;
}

.main-icon-container {

    width: 70%;
    position: relative;
    display: flex;
    margin: 40px;
    margin-right: 10px;
    margin-left: 140px;
    gap: 20px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.menu-icon img {
    height: 150px;
    width: auto;
    border-radius: 45%;
   
}
.menu-icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    background-color: var(--orange-web);
    position: relative;
    width: auto;
    height: 150px;
    text-align: center;
}

.icon-container {
    
    position: relative;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    scale: 100%;
    transition: linear scale .3s;
    cursor: pointer;
    box-shadow: 1px 1px 12px 7px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--light-teal);
}

.menu-icon img {
position: absolute;
z-index: 2;
top: 0;
left:0;
transition: ease-in-out .5s;
}

.icon-container:hover .menu-icon img {
    left: 150px;
}

.icon-container:hover {
    scale: 107%
    
}

.icon-container:active {
    transform: scale(0.95); /* Slight shrink to mimic pressing */
    transition: transform 0.1s ease;
}



.duck-hover-img {
    position: absolute;
    top:0;
}

.duck-hover-img img {
    position: relative;
    height: 320px;
    transform: translate(-30px, -60px) rotate(0deg);
    z-index: -1;
    transition: transform .5s ease;
}

.text-container-sub:hover .duckimg {
    transform: translate(-140px, -60px) rotate(-25deg);
}
.text-container-sub:hover .text-container-bg {
    scale: 110%;
}



/* Social Media Footer */
textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}



.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.125rem;
  height: 2.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.2625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.tiktok {
  background: #000000;
}

.rounded-social-buttons .social-button.tiktok:hover, .rounded-social-buttons .social-button.tiktok:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}